PROJECT_NAME=ecommerce-sales-analytics

# APP CONFIG
APP_NAME=ecommerce
APP_ENV=settings
FAKER_SEED=42

CUSTOMER_COUNT=1000
PRODUCT_COUNT=500
ORDER_COUNT=5000
DEFAULT_LIMIT=100
MAX_LIMIT=500


# POSTGRES CONFIG
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Host dùng khi kết nối từ máy thật
POSTGRES_HOST_LOCAL=localhost
POSTGRES_PORT_LOCAL=5433

# Host dùng khi container nói chuyện với container
POSTGRES_HOST_DOCKER=postgres
POSTGRES_PORT_DOCKER=5432

# API CONFIG
API_PORT_LOCAL=8000
API_BASE_URL=http://localhost:8000
API_BASE_URL_DOCKER=http://api:8000

# METABASE CONFIG
METABASE_PORT_LOCAL=3000

# AIRFLOW CONFIG
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_UID=50000