APP_NAME=Ecommerce Mock API
APP_ENV=dev
FAKER_SEED=42

CUSTOMER_COUNT=1000
PRODUCT_COUNT=500
ORDER_COUNT=5000
DEFAULT_LIMIT=100
MAX_LIMIT=500

POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

POSTGRES_HOST_DOCKER=postgres
POSTGRES_PORT_DOCKER=5432

API_BASE_URL=http://localhost:8000
API_BASE_URL_DOCKER=http://api:8000