# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Env
.env

# Logs/local data
logs/
data/

# dbt
dbt/ecommerce_dbt/logs/
dbt/ecommerce_dbt/target/
dbt/ecommerce_dbt/dbt_packages/
dbt/profiles/profiles.yml
dbt/profiles/.user.yml
dbt/profiles/profiles.yml
dbt/ecommerce_dbt/packages.yml
dbt/ecommerce_dbt/package-lock.yml

# OS/editor
.vscode/
.idea/
.DS_Store

